@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');


:root {
    --primary-100: #DFD6A7;
    --primary-200: #F7CE5B;
    --primary-300: #F7B05B;
    --primary-400: #AF9B46;
    --primary-500: #1F1300;
    --font-color: var(--primary-500);
    --background: var(--primary-100);
    --body-font: "MuseoModerno", sans-serif;
    --header-font: "Sriracha", cursive;
    --special-font: "Doto", sans-serif;
}


body {
    margin: 0;
    color: var(--font-color);
    background-color: var(--background);
    font-family: var(--body-font);
}

h1,h2,h3,h4,h5 
{
    font-family: var(--header-font);
}

.specialText
{
    font-family: var(--special-font);
    font-size: 5rem;
}



/* Stylowanie menu g³ównego */

.navbar {
    /* background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-center {
    /*background-color: white;*/
    width: 80vw;
}

.nav-header
{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header img 
{
    height: 6rem;
}

.nav-header i 
{
    font-size: 1.2rem;
}

.btn 
{
    cursor: pointer;
    background-color: var(--primary-300);
    color: white;
    padding: 0.3rem 0.7rem;
    border: transparent;
    border-radius: 0.25rem;
}

.nav-links 
{
    display: flex;
    flex-direction: column;

    height: 0;
    overflow: hidden;

    transition-duration: 1s;
    transition-timing-function: linear;
   
    
}

.nav-link 
{
    text-align: center;
    padding: 1rem 0;
    color: var(--primary-500);
    border-top: 1px solid var(--primary-400); 
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.nav-links a
{
    text-decoration: none;
}

.nav-link:hover 
{
    color: var(--primary-300);
}

.show-links 
{
    height: 256px;
}