@{
    ViewData["Tytul"] = "Strona główna";
}
<img src="~/grafiki/logo_wlasciwe.png" height="200px"/>
<i class="fa-solid fa-dragon"></i>

<p>
    Zwykły tekst

</p>


<b class="specialText"> Specjalny tekst </b>