@{
	ViewData["Tytul"] = "Kontakt";
}

@section Style
{
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<style>
		form{
			padding: 3rem;
			background-color: var(--primary-300);
			border-radius: 0.5rem;
			margin: 2rem 0;
		}

		
	</style>
}

<h1> Kontakt </h1>

<form>
	<div class="form-floating mb-3">
		<input class="form-control" type="email" name="email" />
		<label for="email">Email</label>
	</div>

	<div class="form-floating mb-3">
		<input class="form-control" type="text" name="topic" />
		<label for="topic">Temat</label>
	</div>

	<div class="form-floating mb-3">
		<textarea class="form-control" name="content" style="height: 6rem;"></textarea>
		<label for="content">Treść wiadomości</label>
	</div>

	<button type="submit" class="btn btn-outline-dark" style="width: 100%"> Wyślij </button>
</form>