@{
	ViewData["Tytul"] = "Projekty";
}

@section Style
{
	<link href="~/css/projects.css" rel="stylesheet" />
}

<h1> Projekty </h1>

<div class="projects">

	@foreach (var projekt in ViewBag.Projekty)
	{
		<div class="project">
			<h2> @projekt.Name </h2>
			<img src="@projekt.ImageSrc" />
			<p>@projekt.Description</p>
			<p>
				@foreach (var tag in projekt.Tags.Split(","))
				{
					<b>#@tag</b>
					
				}
			</p>
		</div>

	}

</div>